body {
  font-family: "Montserrat", sans-seri;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  &__bg {
    background: linear-gradient(
      228.57deg,
      #323264 11.93%,
      #323264 57.17%,
      #643e72 87.46%
    );
    border-radius: 0px 0px 12px 12px;
    width: 100%;
  }
}

.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;

  @media (min-width: 768px) {
    padding: 0 60px;
  }
}
h2 {
  @include font_sample(700, 30px, calc(36.5 / 30));
  margin: 0;

  @media (min-width: 768px) {
  @include font_sample(700, 38px, calc(46 / 38));
  }
}
.caption__color {
  @include background_caption;
}
h3 {
  @include font_sample(700, 22px, calc(27 / 22));
  margin: 0;
}
.list__element__link {
  @include font_sample(400, 16px, calc(19.5 / 16));
}

a {
  &:hover {
    color: #f0145a;
    * {
      stroke: #f0145a;
    }
  }
}

.blue_link {
  color: #24a3ff;
  @include font_sample(700, 14px, calc(17 / 14));
  text-transform: uppercase;
  letter-spacing: 1px;
}
