.firs_list {
  color: #fff;
  position: relative;

  &--service{
    padding-top: 122px;

     @media (min-width: 768px) {
      padding-top: 270px;
     }

     @media (min-width: 1024px) {
      padding-top: 166px;
     }
  }

  .container {
    display: block;
    padding-bottom: 40px;
  }

  &__caption {
    margin: 10px 0 26px 0;

    @media (min-width: 768px) {
      margin: 10px 0 61px 0;
    }
  }

  .card_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px 0px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 42px 60px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    h3 {
      margin: 30px 0 15px 0;
      color: #24a3ff;
    }

    p {
      @include font_sample(400, 16px, calc(26 / 16));
    }
  }
}

.img_block {
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #fff;
}
.shadow_elements {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    min-height: 10px;
    border-radius: 0px 0px 12px 12px;
  }
  &:before {
    top: 100%;
    left: 20px;
    right: 20px;
    background: #cacadb;
  }

  &:after {
    top: calc(100% + 10px);
    left: 40px;
    right: 40px;
    background: #e7e7f2;
  }
}
